/** ------------------------------
*  BASE STYLING
------------------------------  */

* {
    box-sizing: border-box;
    transition: all 500ms;
}

body {
    min-width: 360px
}


.container {
    width: 90%;
    margin: 0 auto;
}

/** ------------------------------
*  GRID STYLING
------------------------------  */
.directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1.5em;
}

/** ------------------------------
*  CARD STYLING
------------------------------  */

.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
    border: lightgrey 2px solid;
    border-radius: 10px;
    padding: 1em 0.5em;
    height: 200px;
}

.card:hover {
    transform: scale(1.08)
}

/** ------------------------------
*  TEXT STYLING
------------------------------  */

.title,
.card__employeeName,
.card__employeeEmail,
.card__employeeDetails {
    font-family: Helvetica, Arial, sans-serif;
}

.card__employeeName, 
.card__employeeDetails {
    text-transform: capitalize;
}

.title {
    font-size: 1.2em;
    font-variant: small-caps;
    margin: 2em 0 1em;
}

.card__employeeName {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.card__employeeEmail,
.card__employeeDetails {
    font-size: 0.8em;
    color: grey;
    margin-bottom: 0.5em;
    word-wrap: break-word
}

/** ------------------------------
*  IMG STYLING
------------------------------  */

.card__avatar {
    height: 120px;
    border-radius: 50%;
}

.card__profile {
    width: 60%
}

.card__seperator {
    background-color: grey;
    height: 2px;
    width: 80%;
    border-radius: 10px;
    margin: 2em 0;
}

/** ------------------------------
*  STATE STYLING
------------------------------  */

.card--hidden {
    display: none;
}

/* THE FOLLOWING CODE ONLY AFFECT .card--selected CLASS */
.card--selected {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    display: flex; 
    flex-flow: column nowrap;

    width: 30vw;
    background-color: white;
    border: lightgrey 3px solid;
    border-radius: 20px;
    padding: 3em;
    
}

.card--selected>img { /* TARGET <IMG> INSIDE */
    height: 100%;
    width: 100%
}
.card--selected>div { /* TARGET <DIV> INSIDE */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 2em;

}

.card__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(119, 119, 119, 0.8);
}