/** ------------------------------
* * BASE STYLING
------------------------------  */

* {
    box-sizing: border-box;
    /* transition: all 500ms; */
}

body {
    min-width: 360px;
}


.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 2em 0;
    
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/** ------------------------------
* * SEARCH BAR STYLING
------------------------------  */
.searchBar {
    width: 30%;
    max-width: 400px;
    padding: 0.5em;
}
/** ------------------------------
* * GRID STYLING
------------------------------  */
.directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1.5em;
}

/** ------------------------------
* * CARD STYLING
------------------------------  */

.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
    border: lightgrey 2px solid;
    border-radius: 10px;
    padding: 1em 0.5em;
    height: 200px;
    
    transition: transform 500ms;
}

.directory>.card:hover {
    transform: scale(1.08);
}

/** ------------------------------
* * TEXT STYLING
------------------------------  */

.title {
    font-size: 1.2em;
    font-variant: small-caps;
    font-family: Helvetica, Arial, sans-serif;
}

.card__name,
.card__email,
.card__details {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}

.card__name {
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.card__details {
    font-size: 0.8em;
    color: grey;
    margin-bottom: 0.5em;
    word-wrap: break-word
}

.card__email {
    text-transform: lowercase;
}

/** ------------------------------
* * IMG STYLING
------------------------------  */

.card__avatar {
    height: 120px;
    border-radius: 50%;
}

.card__profile {
    width: 60%
}


/** ------------------------------
* * MODAL STYLING
------------------------------  */

.modal {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(119, 119, 119, 0.8);
}

.modal>.card {
    position: absolute;
    top: 12%;
    left: calc(-1 * (340px / 2) + 50%); /* placing the modal in middle */
    margin: 0 auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    width: 340px;
    /* todo try max width but fit all items*/
    height: auto;
    background-color: white;
    border: lightgrey 3px solid;
    border-radius: 20px;
    padding: 2em;
    
}

/* ! FOLLOWING STYLE ONLY WHEN .modal IS TURNED ON */
.modal .card__avatar {
    width: 100%;
    height: 100%;
    margin-bottom: 2em
}

.modal .card__profile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 2em;

}

.modal .card__line {
    display: block;
    background-color: grey;
    height: 2px;
    width: 80%;
    border-radius: 10px;
    margin: 2em 0;
}

.modal .card__details {
    text-align: center
}

/* ! ---------- END ---------- */




/* ! .card--hidden is put at bottom to ensure it overrides other classes */
.card--hidden {
    display: none;
}