/** ------------------------------
*  BASE STYLING
------------------------------  */

* {
    box-sizing: border-box;
    transition: all 500ms;
}

body {
    min-width: 360px
}


.container {
    width: 90%;
    margin: 0 auto;
}

/** ------------------------------
*  GRID STYLING
------------------------------  */
.directory {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 1.5em;
}

/** ------------------------------
*  CARD STYLING
------------------------------  */

.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;

    border: lightgrey 2px solid;
    border-radius: 10px;
    padding: 1em 0.5em;
    height: 200px;
}

/** ------------------------------
*  TEXT STYLING
------------------------------  */

.title,
.card__employeeName,
.card__employeeEmail,
.card__employeeLocation {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.title {
    font-size: 1.2em;
    font-variant: small-caps;
    margin: 2em 0 1em;
}

.card__employeeName {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 0.8em;
}

.card__employeeEmail,
.card__employeeLocation {
    font-size: 0.9em;
    color: grey;
    margin-bottom: 0.5em;
}

/** ------------------------------
*  IMG STYLING
------------------------------  */

.card__avatar {
    height: 120px;
    border-radius: 50%;
}

.card__profile {
    width: 60%
}